.spots-page-individual-container{
    box-sizing:border-box;
    display:flex;
    align-items: center;
    border-top: 2px solid lightgrey;
    height:250px;
    width:100%;
    margin:0px;
    text-decoration: none;
    color:inherit

}

#spots-page-container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
    height:100%;
}
.map-inner-container {
    height:100%
}

#map-outer-container{
    width:66%;
    height:inherit;

}

.spots-page-image {
    border-radius:25px;
    object-fit: cover;
    box-sizing:border-box;
    width:100%;
    height:100%;
    padding-right:10px;
}

#spots-title{
    font-family:Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;

}

.right-side{
    box-sizing:border-box;
    width:65%;
    height:200px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    font-size:20px;

}
.right-side > * {
    font-family:Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    font-weight:300
}
.lower-right{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:inherit;
}

#separating-line{
    color:lightgrey;
}
#stays-container{
    width:45%;
    overflow-y:scroll;
}
#stays-inner-container{
    width:90%;
    margin:auto;
}

#spots-page-image-container{
    width:40%;

    height:200px;
}
