#individual-review-container{
    padding:20px 0px;
}
#individual-review-container-top{
    display:flex;
    justify-content: left;
    flex-direction: row;
    padding-bottom:10px;
}

#individual-review-container-top-left{
    height: 60px;
    width: 60px;
}

#individual-review-container-top-right {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}

#individual-review-container-top-right > p{
    margin-top:0px;
    font-size:12px;
    color:lightgrey;
    font-weight:400;
    padding-left:3px;
}


#individual-review-container-top-left > img{
    height:60px;
    width:60px;
    object-fit: contain;
    border-radius: 60px;
}

#reviews-container textarea{
    border:none;
    background-color: transparent;
    width:100%;
    font:inherit;
    height:auto;
    background-color: rgb(243, 241, 241);
    min-height: 100px;
}

#review-body-container {

}
