#ttd-outer-container{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    width:100%;
    margin-bottom:40px;
}

.ttd-inner-container{
    color:rgb(34, 34, 34);
    font-family:Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-weight:600;
    font-size:18px;
}

.ttd-inner-container > img {
    width:520px;
    height:520px;
    border-radius: 10px;
}

.photo-labels{
    padding-top:10px;
}
