#spot-checkin, #spot-checkout, #spot-guests{
    cursor:pointer;
    margin-top: 5px;
    margin-left:5px;
    font-size:11px;
}

#spot-checkin, #spot-checkout{
    width:50%

}
#spot-checkin{
    border-right:1px solid grey;

}
#spot-guests{
    height:50%;
    border-top:1px solid grey;
    display:flex;
    flex-direction: column;

}
#reservation-container{

    width:100%;
    height:275px;
    border:1px solid lightgrey;
    border-radius: 10px;
    box-shadow: 0px 0px 5px lightgrey;
    position:sticky;
    top:25px;
    transition-property: height;
    transition-duration: 0.5s;
}

#reservation-inner-container{
    width:90%;
    margin:auto;
    height:275px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#spot-reservation-buttons{
    height:40%;
    border:1px solid grey;
    border-radius:15px;
    width:100%;
}

#spot-reservation-date-buttons{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:50%
}

#reservation-price-rating-container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
    align-items:center;
}

#navbar-ul{
    position:relative;
}

#reserve-button{
    height:17.5%;
    width:100%;
    background-color: rgba(212, 27, 83, 0.842);
    color:white;
    border-radius: 15px;
    border:none;
    cursor:pointer;
    transition-property: background-color;
    transition-duration: 1s;
    margin-bottom:0px;
}

#reserve-button:hover{
    /* box-shadow: 2px 2px 6px rgb(158, 157, 157); */
    background-color: rgba(219, 155, 174, 0.842);
}

#reservation-total-price{
    display:flex;
    width:100%;
   flex-direction: row;
   justify-content: space-evenly;
   font-size: 20px;
   font-weight:bold;
   align-items: top;
   height:50px;
   transition-property: visibility;
   transition-delay:0.4s

}

#spot-guests input:focus{
    outline:none;
    background-color: transparent;
}

#reservation-cancel-link{
    margin:0;
    font-size:13px;
    margin:auto;
    margin-top:10px;
    text-align: center;
    cursor:pointer;
    background-color: rgba(212, 27, 83, 0.842);
    border-radius:15px;
    color:white;
    width:88%;
    height:30px;
    display:flex;
    justify-content: center;
    align-items: center;
    transition-property: background-color;
    transition-duration: 1s;

}

#reservation-cancel-link:hover{
    /* box-shadow: 2px 2px 6px rgb(158, 157, 157); */
    background-color: rgba(219, 155, 174, 0.842);
}
