#search-clicked-outer-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:850px;
    justify-content: space-around;
    height:100%
}

#search-type-container{
    display:flex;
    flex-direction: row;
    width:50%;
    justify-content: space-between;
    cursor:pointer;
    padding-bottom:5px;
}

#search-button{
    height:70%;
    border-radius:40px;
    border:1px solid lightgrey;
    cursor:pointer;
    width:20%;
    background-color:white;
}

#search-button-inner-div{
    font-size:14px;
    line-height:35px;
    margin-left:10px;
    width:100%;
    text-align: left;
}

#search-magnifying-glass{
    height:50%;
    width:10%;
    border-radius: 32px;
    line-height:35px;
}

#search-button-outer-div{
    display:flex;
    flex-direction: row;
    justify-content: space-between;

}

#search-form{
    height:70%;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 32px;
    align-items: center;
    border:1px solid lightgrey;
    background-color: rgb(231, 227, 227);
}

#search-location-container,#search-checkin-container,#search-checkout-container{
    /* border:1px solid grey; */
    height:100%;
    border-radius: 32px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:25%;
}
#search-location-container{
    /* width:25%; */
    padding-left: 5px;;

}
#search-guests-container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width:25%;
    height:100%;
    border-radius: 32px;
}
#location-input,#checkin-input, #checkout-input, #guests-input{
    width:100%;
    border:none;
    background-color: inherit;
    border-radius: 32px;
}

#location-input:focus,#checkin-input:focus, #checkout-input:focus, #guests-input:focus{
    border:none;
    outline: none;
    background-color: none;
}

#search-location-container:hover,#search-checkin-container:hover,#search-checkout-container:hover,#search-guests-container:hover{
    background-color: rgb(219, 217, 217);
}

#search-form-submit{
    border-radius: 32px;
    height:70%;
    background-color:rgb(228, 50, 103);
    color:white;
    font-size:15px;
    border:none;
    transition-property: background-color;
    transition-duration: 1s;
}

#search-form-submit:hover{
    background-color: pink;
}

#search-form label {
    font-weight: bold;
    font-size:12px;
}


#search-form input {
    cursor:pointer;
}

#search-guests-inner-container{
    display: flex;
    flex-direction: column;
    height:100%;
    justify-content: center;



}
